<div class="events-section">
  <div class="photo-container">
    <div class="photo">
      <img src="{{ '/assets/img/events/RISS_team.jpg' | relative_url }}" alt="RISS_Team">
    </div>
    <div class="photo-description">
      <h3><a href="https://riss.ri.cmu.edu/" target="_blank">RISS</a>: Research Showcase</h3>
      <p>Aug 2023: Worked with Krishna Suresh and Micah Nye as part of their RISS program in the multi-drone project advised by Prof. Sebastian and Micah Corah. I mentored Krishna in the project and we made 1 IROS 2023 Workshop paper and 1 ICRA 2024 Submission, both me as 2nd author. (Me in center)</p>
    </div>
  </div>

  <div class="photo-container">
    <div class="photo-description">
      <h3><a href="https://www.cmu.edu/stugov/gsa/Resources-for-Graduate-Students/sports.html">GSA: Soccer League</a></h3>
      <p>Aug 2023: Friendly soccer league organized by Graduate Student Assembly at CMU. I was part of the "Robotics Institute Football Club". We ended up winning the tournament. I played as Striker and was team's top scorer. (Me in lower-left)</p>
    </div>
    <div class="photo">
      <img src="{{ '/assets/img/events/ri_fc_2023.jpg' | relative_url }}" alt="RIFC2023">
    </div>
  </div>

  <div class="photo-container">
    <div class="photo">
      <img src="{{ '/assets/img/events/me_at_ABC.jpg' | relative_url }}" alt="MEatABC">
    </div>
    <div class="photo-description">
      <h3>Trek to Mt. Annapurna Base Camp</h3>
      <p>May 2023: Trekked Mt. Annapurna Base Camp in the Himalayas. Total duration: 7 days. Max Altitude: 4300m.</p>
    </div>
  </div>

  <div class="photo-container">
    <div class="photo-description">
      <h3><a href="https://wro-association.org/">World Robot Olympiad</a>: Robotics Competition</h3>
      <p>Sept 2018: Participated in the World Robots Olympiad Advance Robotics Challenge. We won bronze. I led the design, simulation and validation of the autonomous robot team.</p>
    </div>
    <div class="photo">
      <img src="{{ '/assets/img/projects_thumbnail/wro.png' | relative_url }}" alt="WRO">
    </div>
  </div>

  <div class="photo-container">
    <div class="photo">
      <img src="{{ '/assets/img/events/abu_robocon2018.jpg' | relative_url }}" alt="robocon2018">
    </div>
    <div class="photo-description">
      <h3><a href="https://official-robocon.com/aburobocon/">ABU Robocon</a>: Robotics Competition</h3>
      <p>May 2017 &amp; 2018: Competed in Asia's biggest robotics competition where 150+ teams participated in India. We ended in top 15 in 2017. I led the prototype that represented the university team. (Me just left of the center robot)</p>
    </div>
  </div>

  <div class="photo-container">
    <div class="photo-description">
      <h3>Representing Nation in U19 International</h3>
      <p>Jan 2013: Participated in the International School Cricket Premier Leagues, representing Nepal and playing against India (Loss) and Kuwait (Win). I secured the second-highest score with the highest run-rate in our match against Kuwait.</p>
    </div>
    <div class="photo">
      <img src="{{ '/assets/img/events/Cricket_nepal%20.jpg' | relative_url }}" alt="Cricket Nepal">
    </div>
  </div>
</div>
